{% extends 'app/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Bienvenido a la página de inicio</h1>
    <p>Selecciona una opción a continuación:</p>

    <div class="mt-3">
        <!-- Enlace para agregar un producto -->
        <a href="{% url 'add_product' %}" class="btn btn-primary">Agregar Producto</a>

        <!-- Enlace para listar productos -->
        <a href="{% url 'list_products' %}" class="btn btn-secondary ml-3">Listar Productos</a>
    </div>
   <!-- Enlace para cerrar sesión -->
   <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Cerrar Sesión</a>

   <!-- Formulario oculto que se envía al hacer clic en el enlace de cerrar sesión -->
   <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
       {% csrf_token %}
   </form>
</div>
{% endblock %}
